@media screen and (max-width:1280px) {
    header{
        background-color: yellow;
    }
}
@media screen and (max-width:1024px) {
    header{
        background-color: red;
    }
    #talk-txt{
        margin-top: 5% ;
    }
    #front-end-txt{
        margin-top: 5%;
    }
    #code-txt{
        margin-top: 5%;
    }
}
@media screen and (max-width:912px) {
    header{
        background-color: grey;
    }
    #front-end-txt{
        width: 60%;
    }
    #Email-txt{
        font-size: 20px;
    }
    #footer-block2 h3{
        margin-top: 5%;
    }
}

@media screen and (max-width:820px) {
    header{
        background-color: green;
    }

    #front-end-txt{
        width: 70%; 
    
    }
}
@media screen and (max-width:768px) {
    header{
        background-color: blue;
    }
    #footer-block2{
        width: 50%;
    }
}
@media screen and (max-width: 540px) {
    header{
        background-color: khaki;
    }

    #header-box2{
        display: none !important;
    }
    #header-box3{
        display: none !important;
    }
    #main-section1-inner-wrapper{
        flex-direction: column;
    }
    #main-section1-box1{
        width: 100% !important;
        height: auto !important;
    }
    #main-section1-box2{
        width: 100% !important;
    }

     #front-end-txt{
    width: 40%;
 }
     #main-section2-inner-wrapper{
    flex-direction: column;
 }
    #main-section2-box1{
    width: 100% !important;
    height: auto;
 }
    #main-section2-box2{
    width: 100%;
    height: auto;
}
    #section3-inner-wrapper{
    flex-direction: column;
}
    #wrapper1{
    width: 100%;
    height: auto;
}
    #wrapper2{
    width: 100%;
    height: auto;
}
    #footer-wrapper{
    flex-direction: column;
}
    #footer-block1{
    width: 100%;
    height: auto;
}
    #footer-block2{
    width: 100%;
    height: auto;
}
    #header-box1{
    width: 30% !important;
    
}
}
@media screen and (max-width: 414px) {
    header{
        background-color: crimson;
    }
    #header-box1{
        width: 35% !important;
}
    #in-txt{
    font-size: 20px;
}
    #hello-txt{
    font-size: 25px;
}
    #every-txt{
    font-size: 25px;
}
    #story-txt{
    font-size: 15px;
    font-weight: normal;
}
#front-end-txt{
    width: 50% !important;
}
#make-txt{
    font-size: 20px;
}
#start-txt{
    font-size: 20px;
}
#Email-txt{
    font-size: 17px;
}
}
@media screen and (max-width: 412px) {
    header{
        background-color: darkturquoise;
    }
    #some-txt{
        font-size: 15px;
    }
    #latest-txt{
        font-size: 20px;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    #every-txt{
        font-size: 20px;
    }

}
@media screen and (max-width: 393px) {
    header{
        background-color: rgb(255, 179, 0);
    }
    #footer-block1{
        margin: 0;
    }
    #footer-block2{
        margin: 0;
    }
}
@media screen and (max-width: 390px) {
header{
    background-color: darkorange;
}
}
@media screen and (max-width: 375px) {
header{
    background-color: darkturquoise;
}
#front-end-txt{
    width: 58% !important;
}

}
@media screen and (max-width: 320px){
    header{
        background-color: olivedrab;
    }
    #perfect-txt{
        font-size: 16px;
    }
    #front-end-txt{
        width: 60% !important;
    }
}
@media screen and (max-width: 280px){
    header{
    background-color: hotpink;
    }
    #front-end-txt{
        width: 70% !important;
    }
    #code-txt{
        font-size: 14px;
    }
    #perfect-txt{
        font-size: 15px;
    }
}